.calculator{
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FFF;

    & h3{
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: #1A1A1D;
        opacity: 0.4;
    }

    & p{
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: #1A1A1D;
        opacity: 0.4;
        margin-top: 16px;

        &.calculator-more-information{
            opacity: 1;
            color: #FFF;
        }
    }

    & form{
        margin-top: 8px;

        & input{
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(26, 26, 29, 0.40);
            padding: 6px 0px;

            font-family: Roboto Condensed;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 100% */
            letter-spacing: -0.72px;
            text-transform: uppercase;
            color: #1A1A1D;

            &:not(:first-child){
                margin-top: 16px;
            }

            &::placeholder{
                font-family: Roboto Condensed;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.72px;
                text-transform: uppercase;
                color: #1A1A1D;
                opacity: 0.4;
            }

            &.error {
                color: #F92C2C;
                border-color: #F92C2C;
            }


        }
    }

    & > .container{
        & > ul{
            display: flex;
            width: 100%;
            overflow: scroll;

            & > li{
                flex-shrink: 0;
                width: 100%;

                & > .popup-info-list{
                    padding: 0;
                    border: none;

                    max-height: 328px;
                    overflow: scroll;

                    &.hidden{
                        height: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

.calculator-pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button{

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        

        &.left{
            border: 1.4px solid #1A1A1D;
            background-color: transparent;
            opacity: 0.2;

            & > svg{
                stroke: #1A1A1D;
            }
        }

        &.right{
            border: 1.4px solid #2A3489;
            background-color: #2A3489;

            & > svg {
                stroke: #FFF;
            }
        }

        & > svg{
            width: 16px;
            height: 16px;
        }
    }
}

.calculator-pagination-pointer{
    height: 40px;
    padding: 0px 16px;
    border-radius: 200px;
    background-color: #F6F6F3;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #1A1A1D;
    opacity: 0.4;


    &>.current{
        font-weight: 800;
    }
}

.calculator--drop-menu-wrap{
    position: relative;
}

.calculator-drop-menu{
    
    max-height: 240px;
    overflow: auto;
    height: fit-content;
    min-height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 4;
    width: 100%;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #2A3489;
    }

    & >li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding: 0px 16px 0px 8px;
        border-bottom: 1px solid rgba(26, 26, 29, 0.10);
        background-color: #F6F6F3;

        &:hover{
            background-color: #FFF;

            & > svg{
                opacity: 1;
            }

            & > span{
                opacity: 1;
            }
        }

        &.hidden{
            display: none;
        }

        & > svg{
            width: 24px;
            height: 24px;
            stroke: #1A1A1D;
            opacity: 0.4;
        }

        & > span{
            font-family: Roboto Condensed;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 100% */
            letter-spacing: -0.72px;
            text-transform: uppercase;
            // opacity: 0.4;
            color: rgba(26, 26, 29, 0.40);

            & > mark {
                background-color: #2A3489;
                color: #FFF;
            }
        }
    }
}

.calculator--input-wrap{
    position: relative;
    

    & > svg{
        width: 16px;
        height: 16px;
        stroke: #1A1A1D;
        fill: none;
        opacity: 0.4;
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translateY(40%);

        &.hidden{
            display: none;
        }
    }

    & > span{

        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);

        &.results{
            color: rgba(26, 26, 29, 0.20);
        }

        &.error{
            color: #F92C2C;
        }

        &.hidden{
            display: none;
        }
    }
}

.calculator--manufacturer-list{
    margin-top: 8px;

    & > li{
        display: grid;
        grid-template-columns: 50% 30% 20%;
        align-items: center;
        padding: 8px 0px;
        border-bottom: 1px solid rgba(26, 26, 29, 0.40);

        &:not(:first-child){
            margin-top: 8px;
        }

        & >P{
            margin: 0;
            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px; /* 100% */
            letter-spacing: -0.48px;
            text-transform: uppercase;
            opacity: 1;
        }

        & span{
            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px; /* 100% */
            letter-spacing: -0.48px;
            text-transform: uppercase;
        }
    }
    & button{
        width: 32px;
        height: 32px;
        border-radius: 100%;

        & > svg{
            width: 16px;
            height: 16px;
        }

        &.info{
            background-color: transparent;
            border-radius: 200px;
            border: 1.4px solid #1A1A1D;
            opacity: 0.4;
        }

        &.add{
            background: #2A3489;
            border: 1.4px solid #2A3489;

            & >svg{
                stroke: #FFF;
            }
        }
    }
}

.calculator-more-information{
    background-color: #2A3489;
    padding: 16px;
    text-align: center;
    opacity: 1;
    border-radius: 16px;
    
}

.calculator-group{
    &:not(:first-child){
        margin-top: 32px;
    }

    &>.popup-options {
        margin-top: 16px;
        width: 100%;
        overflow: scroll;

        &>.option {
            flex-shrink: 0;
            max-width: 168px;
        }
    }
}


