<section class="calculator">
    <div class="container">
        <ul>
            <li>
                <h3>Данні про авто</h3>
                <form action="">
                    <input type="text" placeholder="Марка автомобіля">
                    <input type="text" placeholder="Модель">
                    <input type="text" placeholder="Номер телефону">
                    <input type="text" placeholder="Імʼя">
                </form>
                <h3>Додаткова інформація</h3>
                <form action="">
                    <input type="text" placeholder="VIN-Номер">
                </form>
                <p>VIN код вказано в техпаспорті Вашого автомобіля. А також у всіх сучасних автомобілів номер VIN розташовується
                    в лівій
                    верхній частині інструментальної панелі, видимої через вітрове скло. Також його можна знайти на лівій
                    передній стійці
                    кузова</p>
            </li>
            <li>
        
            </li>
            <li>
        
            </li>
            <li>
        
            </li>
            <li>
        
            </li>
        </ul>
        <div class="calculator-pagination">
            <button class="left">
                <svg>
                    <use href="./images/icons.svg#arrow-left"></use>
                </svg>
            </button>
            <span class="calculator-pagination-pointer">
                <span class="current">01</span>
                /
                <span class="total">05</span>
            </span>
            <button class="right">
                <svg>
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>