<header class="container">
    <svg class="header--logo">
        <use href="./images/icons.svg#logo"></use>
    </svg>
    <div class="header--language-switch">
        <button class="active">ua</button>
        <button>ru</button>
    </div>
    <button class="header--menu-button">
        <span class="header--menu-button-text">Меню</span>
        <span class="header--menu-button-text hidden">Закрити</span>
        <svg class="header--menu-button-icon">
            <use href="./images/icons.svg#menu"></use>
        </svg>
        <svg class="header--menu-button-icon hidden">
            <use href="./images/icons.svg#cross"></use>
        </svg>
    </button>
    <div class="header--menu hidden">
        <nav>
            <ul>
                <li>
                    <a href="">
                        <span>Головна</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Калькулятор</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Про glasscar</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Чому Ми?</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Виробники</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Етапи роботи</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Відгуки</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>FAQ</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Контакти</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <a href="">
            <span>Cертифікати відповідності (pdf)</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </a>
        <ul class="header--mobile-linksset">
            <li>
                <a href="">Встановлення автоскла</a>
            </li>
            <li>
                <a href="">Ремонт автоскла</a>
            </li>
        </ul>
    </div>
    <ul class="header--desctop-linksset">
        <li>
            <a href="">Встановлення автоскла</a>
        </li>
        <li>
            <a href="">Ремонт автоскла</a>
        </li>
    </ul>
</header>