<header class="container">
    <svg class="header--logo">
        <use href="./images/icons.svg#logo"></use>
    </svg>
    <div class="header--language-switch">
        <button class="active">ua</button>
        <button>ru</button>
    </div>
    <button class="header--menu-button">
        <span class="header--menu-button-text">Меню</span>
        <span class="header--menu-button-text hidden">Закрити</span>
        <svg class="header--menu-button-icon">
            <use href="./images/icons.svg#menu"></use>
        </svg>
        <svg class="header--menu-button-icon cross hidden">
            <use href="./images/icons.svg#cross-2"></use>
        </svg>
    </button>
    <ul class="header--desctop-linksset">
        <li>
            <a href="">Встановлення автоскла</a>
        </li>
        <li>
            <a href="">Ремонт автоскла</a>
        </li>
    </ul>
</header>