<section class="hero">
    <span class="hero--slider-pointer">
        <span>01</span>
        /
        <span>03</span>
    </span>
    <ul class="hero--banner-text-list">
        <li class="hero--banner-list-item">
            <h2>Автомобільне
            скло та сервіс</h2>
            <ul>
                <li>
                    <p>При купівлі та встановленні скла AGC — знижка 10%</p>
                </li>
                <li>
                    <p>Гарантія на роботу (клейовий шов) — безстрокова</p>
                </li>
            </ul>
        </li>
        <li class="hero--banner-list-item">
            <h2>Тонування автоскла</h2>
            <p>Професійне тонування автомобільного скла в Києві та обласі</p>
        </li>
        <li class="hero--banner-list-item">
            <h2>Ремонт
            автоскла</h2>
            <p>Повне відновлення структурної міцності скла гарантує безпеку керування транспортним засобом.</p>
        </li>
    </ul>
    <ul class="hero--banner-images-list">
        <li>
            <img src="./images/img-bg-1.png" alt="" class="hero--image">
        </li>
        <li>
            <img src="./images/img-bg-2.png" alt="" class="hero--image">
        </li>
        <li>
            <img src="./images/img-bg-3.png" alt="" class="hero--image">
        </li>
    </ul>

</section>