<section class="segment" id="segment">
    <div class="container">
        <p>Як правило, ми пропонуємо автоскло
        в залежності від бюджету клієнта</p>
    <div class="segment--cathegories-wrap">
        <h2>Сегмент</h2>
        <ul class="segment--cathegories-list">
            <li data-class="premium" class="active">
                <h3>Преміум</h3>
            </li>
            <li data-class="busines">
                <h3>Бізнес</h3>
            </li>
            <li data-class="econom">
                <h3>Економ</h3>
            </li>
        </ul>
    </div>
    <div class="segment--brand">
    
    </div>
    <div class="segment--content-wrap">
        <h4>Топ 4</h4>
        <ul class="segment--content-list">
            <li>
                <ul class="segment--brands-list" data-class="premium">
                    <li>
                        <img src="./images/brands/icon-b-01.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-02.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-03.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-04.png" alt="">
                    </li>
                </ul>
                <ul class="segment--top-four-list active" data-class="premium">
                    <li>
                        <span class="segment--manufacturer">Pilkington</span>
                        <span class="segment--country">Англія</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Shatterprufe</span>
                        <span class="segment--country">ПАР</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Guardian</span>
                        <span class="segment--country">США (Іспанія)</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Saint Gobain Securit</span>
                        <span class="segment--country">Франція</span>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="segment--brands-list" data-class="busines">
                    <li>
                        <img src="./images/brands/icon-b-01.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-02.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-03.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-04.png" alt="">
                    </li>
                </ul>
                <ul class="segment--top-four-list" data-class="busines">
                    <li>
                        <span class="segment--manufacturer">Pilkington</span>
                        <span class="segment--country">Англія</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Shatterprufe</span>
                        <span class="segment--country">ПАР</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Guardian</span>
                        <span class="segment--country">США (Іспанія)</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Saint Gobain Securit</span>
                        <span class="segment--country">Франція</span>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="segment--brands-list" data-class="econom">
                    <li>
                        <img src="./images/brands/icon-b-01.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-02.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-03.png" alt="">
                    </li>
                    <li>
                        <img src="./images/brands/icon-b-04.png" alt="">
                    </li>
                </ul>
                <ul class="segment--top-four-list" data-class="econom">
                    <li>
                        <span class="segment--manufacturer">Pilkington</span>
                        <span class="segment--country">Англія</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Shatterprufe</span>
                        <span class="segment--country">ПАР</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Guardian</span>
                        <span class="segment--country">США (Іспанія)</span>
                    </li>
                    <li>
                        <span class="segment--manufacturer">Saint Gobain Securit</span>
                        <span class="segment--country">Франція</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button>
        <span class="mobile">Замовити прорахунок</span>
        <span class="desctop">Прорахунок</span>
        <svg>
            <use href="./images/icons.svg#arrow-right"></use>
        </svg>
    </button></div>
    
</section>