<section class="seo container">
    <ul>
        <li>
            <h3>АВТОСКЛО В КИЄВІ ВІД КОМПАНІЇ GLASSCAR – ЯКІСТЬ, ПЕРЕВІРЕНА ЧАСОМ</h3>
            <h4>Glasscar – тільки у нас високоякісне автомобільне скло та повний сервіс за найвигіднішими цінами!</h4>
            <p>Ми знаходимося на ринку автопослуг понад 10 років і можемо запропонувати нетрадиційні рішення для кожного клієнта — це
            можна назвати нашою відмінною рисою. Наша компанія дорожить своїм іміджем, тому у нас у штаті лише досвідчені та
            грамотні спеціалісти – майстри своєї справи. Ми надаємо повний комплекс наших послуг «під ключ», який звільнить Вас від
            зайвої витрати часу та додаткових витрат. Звертаючись до нас, ви можете покластися на нас. Також зможете купити та
            зробити заміну будь-якого автомобільного скла.</p>
            <h4>Ми надаємо такі послуги:</h4>
            <ul>
                <li>
                    <p>Купівля високоякісного автомобільного скла, яке має все необхідне маркування, сертифіковану документацію та сповна
                    відповідає вимогам ДСТУ;</p>
                </li>
                <li>
                    <p>Заміна всіх видів автоскла.</p>
                </li>
            </ul>
            <p>Наше основне завдання – забезпечити Вас першокласними послугами автосервісу в найкоротші терміни. Наші
            висококваліфіковані фахівці проведуть ремонт та заміну будь-якого автоскла, як зарубіжних так і вітчизняних марок авто.</p>
            <p>Ми здійснюємо вичерпний перелік сервісних послуг завдяки наявності висококваліфікованих спеціалістів, необхідного
            сучасного обладнання та матеріалів. Ми надаємо безстрокову гарантію на весь комплекс робіт, наданий на сервісній станції
            Glasscar. Уявіть собі, ви купуєте автомобільне лобове скло і отримуєте гарантію не тільки на саме автоскло, а й на всі
            роботи.</p>
        </li>
        <li>
            <h3>ЯКІСТЬ СКЛА АВТОМОБІЛЯ – ОДНА З ОСНОВНИХ СКЛАДОВИХ БЕЗПЕКИ</h3>
            <p>
                Автомобільне скло (Київ) – досить крихкий матеріал, який вимушено підлягає заміні. Водії транспортних засобів досить
                часто стикаються із проблемою заміни автоскла. Величезний вибір моделей автомобілів вимагає дотримання певних нюансів
                під час заміни, вибору правильної конфігурації автомобільного скла, тому що неправильне рішення може спричинити
                негативні наслідки, такі як затікання води в салон, втрата міцності, передчасне пошкодження, виникнення тріщин тощо
            </p>
            <p>
                Автоскло Київ пропонує у величезному асортименті. Проте не варто забувати про те, що від належної якості автомобільного
                скла залежить безпека водія та пасажирів будь-якого виду автомобільного транспорту. Правильний вибір автомобільного скла
                – це гарантія його надійності, безпеки та довговічної служби.
            </p>
        </li>
        <li>
            <h3>АВТОМОБІЛЬНЕ СКЛО КУПИТИ В КИЄВІ</h3>
            <h4>Професіонали Glasscar завжди прийдуть до Вас на допомогу, якщо:</h4>
            <ol>
                <li>
                    <p>Оригінальне автомобільне скло постраждало внаслідок влучення дрібних деталей дорожнього покриття, після чого утворилися
                    тріщини, сколи;</p>
                </li>
                <li>
                    <p>Ви стали учасником дорожньо-транспортної пригоди чи жертвою вуличних хуліганів;</p>
                </li>
                <li>
                    <p>У всіх інших випадках пошкодження будь-якого скла Вашого автомобіля.</p>
                </li>
            </ol>
            <p>
                Наше основне завдання – забезпечити Вас першокласними послугами автосервісу в найкоротші терміни. Наші
                висококваліфіковані фахівці проведуть ремонт та заміну будь-якого автоскла, як зарубіжних так і вітчизняних марок авто.
            </p>
            <p>
                Ми здійснюємо вичерпний перелік сервісних послуг завдяки наявності висококваліфікованих спеціалістів, необхідного
                сучасного обладнання та матеріалів. Ми надаємо безстрокову гарантію на весь комплекс робіт, наданий на сервісній станції
                Glasscar. Уявіть собі, ви купуєте автомобільне лобове скло і отримуєте гарантію не тільки на саме автоскло, а й на всі
                роботи.
            </p>
        </li>
        <li>
            <h3>АВТОСКЛО КИЇВ – МИ ВСТАНОВИМО АВТОМОБІЛЬНЕ СКЛО НА БУДЬ-ЯКУ МАРКУ АВТОМОБІЛЯ.</h3>
            <p>
                Якщо Ви не знаєте, де купити автоскло Київ для свого автомобіля, зателефонуйте до нашого менеджера. Ми знаходимо
                індивідуальний підхід до кожного клієнта, повністю гарантуючи якість послуг. Ми пропонуємо вигідну систему знижок
                постійним клієнтам. Крім того, акції та суперпропозиції, що проводяться компанією, дозволяють не тільки отримати
                першокласний сервіс, а й суттєво заощадити.
            </p>
            <p>Вигідно та швидко – девіз нашої роботи</p>
            <h4>Компанія Glasscar – це команда професіоналів, які:</h4>
            <ul>
                <li>
                    <p>Мають багаторічний досвід роботи;</p>
                </li>
                <li>
                    <p>Застосовують повний комплект необхідного нового обладнання та інструментів;</p>
                </li>
                <li>
                    <p>Використовують тільки оригінальні комплектуючі та матеріали;</p>
                </li>
                <li>
                    <p>Швидко та якісно виконують необхідний перелік робіт з технічного обслуговування автомобіля, у тому числі заміни
                    автомобільного скла будь-якої складності.</p>
                </li>
            </ul>
            <p>
                Компанія Glasscar працює на результат та зацікавлена ​​у багаторічній співпраці. Ми виконуємо лише необхідний перелік
                робіт, не нав’язуючи клієнту додаткові витрати. Наведений каталог послуг повністю відповідає обговореному в кожному
                конкретному випадку списку.
            </p>
            <p>
                При необхідності ми маємо можливість забезпечити кожного клієнта автомобільними запчастинами за приємними вигідними
                цінами. У нас Ви можете придбати будь-які автоскла та інші комплектуючі за цінами, нижчими від ринкових. Наша компанія
                працює тільки з перевіреними надійними постачальниками, які гарантують якість своєї продукції.
            </p>
            <p>
                У разі виникнення неполадок у роботі Вашого автомобіля наш консультант надасть вичерпну консультацію щодо можливих
                причин та порядку їх усунення.
            </p>
            <p>
                Якщо Ви хочете придбати якісне та надійне автоскло, ціна сервісу Glasscar Вас приємно здивує. Приходьте, і ми завжди
                домовимось!
            </p>
            <h4>ТЕГИ за якими нас можна знайти: скло автомобільне бічне, автоскло, заміна лобового скла, автоскло Київ.</h4>
        </li>
        <li>
            <h3>АВТОМОБІЛЬНЕ СКЛО З УСТАНОВКОЮ ВІД ВІДОМИХ ВИРОБНИКІВ</h3>
            <p>
                Асортимент автоскла на різні марки автомобілів компанії Glasscar складає сертифікована продукція відомих світових
                виробників, у тому числі лідерів ринку: Pilkington, Guardian, Shatterprufe (автоскло преміум та бізнес класу). Висока
                якість виробів цих фірм забезпечена сучасними технологіями виробництва, що ґрунтуються на наукових розробках, виконанні
                обробки матеріалів на високоточних верстатах з автоматизованим управлінням.
            </p>
            <ul>
                <li>
                    <p>
                        Автоскла Pilkington відрізняються високою ударостійкістю, водовідштовхуючими та шумоізоляційними властивостями,
                        здатністю до самоочищення. Корпорація Pilkington є найстарішим представником скляного виробництва у світі, приділяє
                        багато уваги проведенню дослідницької діяльності у сфері підвищення якості автоскла. Це дозволяє залишатися лідером у
                        цій галузі. Здатність скла Pilkington до відображення сонячних променів запобігає перегріву в салоні автомобіля та
                        вицвітання внутрішніх оббивних матеріалів, що призводить до досягнення енергозбереження за рахунок економної роботи
                        кондиціонера. Самоочищення скла досягається через нанесене тонке покриття з двоокису титану на їх поверхні. Таке
                        покриття протягом двох десятків років самоочищає поверхню скла від органічних забруднень.
                    </p>
                </li>
                <li>
                    <p>
                        Вироби виробника Guardian мають магнетронне напилення, що також сприяє підвищенню захисту від сонячного випромінювання,
                        теплоізоляційних властивостей, механічної міцності. Скло Guardian не тільки прозоре, але й тоноване до 5% легкими
                        відтінками теплих кольорів, тим самим воно є сонцезахисним фільтром. Автомобільне скло може включати різні датчики, у
                        тому числі датчики вологості, які включають кондиціонер при запотіванні вікон.
                    </p>
                </li>
                <li>
                    <p>
                        Автомобільне скло компанія Shatterprufe дуже якісне і задовольняє вимогам знаменитих світових автомобільних трендів. Тим
                        не менш, політика Shatterprufe спрямована на поєднання щодо невисокої ціни та гідної якості виробів.
                    </p>
                </li>
            </ul>
            <p>
                Автоскла економ класу, які реалізуються в нашому автосервісі, також мають усі необхідні сертифікати якості, що
                підтверджують їх прийнятні експлуатаційні характеристики.
            </p>
            <p>
                Фахівці компанії завжди допоможуть вам із вибором потрібної продукції!
            </p>
        </li>
    </ul>
    <button>
        <div>
            <span></span>
            <svg>
                <use href="./images/icons.svg#arrow-down"></use>
            </svg>
        </div>
    </button>
</section>