<section class="why scroll">
    <img src="./images/why.png" alt="" class="why--image">
    <div class="container">
        <div class="why--title-wrap">
            <h2>Чому ми?</h2>
            <p>Оберіть нас – і ми зробимо все можливе, щоб забезпечити вам безпеку та комфорт на дорозі. Довірте своє
                автомобільне скло
                професіоналам,
                і ви не пошкодуєте свого вибору!</p>
        </div>
        <ul class="why--list">
            <li>
                <svg>
                    <use href="./images/icons.svg#truck-1"></use>
                </svg>
                <h3>Доставка</h3>
                <p>Незалежно від вашого місцезнаходження, наша служба доставки забезпечує доставку замовлення прямо в руки.</p>
            </li>
            <li class="bg-1">
                <svg style="stroke: white;">
                    <use href="./images/icons.svg#pay-1"></use>
                </svg>
                <h3>Оплата</h3>
                <p>Ми пропонуємо різноманітні та зручні способи оплати, щоб забезпечити максимальний комфорт для наших клієнтів.
                </p>
            </li>
            <li>
                <svg>
                    <use href="./images/icons.svg#truck-2"></use>
                </svg>
                <h3>Гарантія</h3>
                <p>Ретельно перевіряємо всі товари перед заміною або відправкою, щоб переконатися, що вони відповідають нашим
                    стандартам.</p>
            </li>
            <li class="bg-2">
                <svg>
                    <use href="./images/icons.svg#pay-2"></use>
                </svg>
                <h3>Ассортимент</h3>
                <p>У нас ви знайдете величезний асортимент товарів, які задовольнять різні ваші потреби та уподобання.</p>
            </li>
            <li>
                <svg>
                    <use href="./images/icons.svg#truck-3"></use>
                </svg>
                <h3>Оперативність</h3>
                <p>Розуміємо, що ваш час є цінним, тому наша команда працює на максимальну оперативність.</p>
            </li>
        </ul>
    </div>
</section>