<section class="why">
    <img src="./images/why.png" alt="">
    <div class="why--title-wrap">
        <h2>Чому ми?</h2>
        <p>Оберіть нас – і ми зробимо все можливе, щоб забезпечити вам безпеку та комфорт на дорозі. Довірте своє автомобільне скло
        професіоналам,
        і ви не пошкодуєте свого вибору!</p>
    </div>
    <ul>
        <li>
            <svg>
                <use href="./images/icons.svg#truck-1"></use>
            </svg>
            <h3></h3>
        </li>
        <li>
            <svg>
                <use href="./images/icons.svg#truck-2"></use>
            </svg>
            <h3></h3>
        </li>
        <li>
            <svg>
                <use href="./images/icons.svg#truck-3"></use>
            </svg>
            <h3></h3>
        </li>
    </ul>
</section>